<div class="contenido">

    <br>
    <h1 class="Titulo">Citas Programadas</h1>
    <button class="btn-gradient" routerLink="/Inicio">Regresar al Inicio</button>
    <br><br><br>

    <table class="Tabla">
    <thead>
        <tr>
            <th scope="col">USUARIO/<br>DUEÑO</th>
            <th scope="col">MASCOTA</th>
            <th scope="col">MALESTAR</th>
            <th scope="col">FECHA</th>
            <th scope="col">VISUALIZAR CARTILLA</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-gradient2" routerLink="">CARTILLA</button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-gradient2" routerLink="">CARTILLA</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-gradient2" routerLink="">CARTILLA</button></td>
            </tr>
        </tbody>
    </table>
</div>


<img class="Fondo" src="Fondo.jpg">
<router-outlet></router-outlet>
