<div class="contenido">

    <h2 class="Titulo">Editar Perfil</h2>
    
    <button class="btn-gradient1" routerLink="/Perfil">Regresar</button>
    <button class="btn-gradient2" routerLink="/Perfil">Guardar</button>
    
    <form class="Formulario">
      <div>
          <label for="pregunta1">Nombre</label>
          <input type="text" id="pregunta1" />
        </div>
        <div>
          <label for="pregunta2">Apellido</label>
          <input type="text" id="pregunta2" />
        </div>
        <div>
          <label for="pregunta3">Cedula</label>
          <input type="text" id="pregunta3" readonly />
        </div>
        <div>
          <label for="pregunta3">Correo</label>
          <input type="text" id="pregunta4" />
        </div>
  </form>
  
  <form class="Formulario2">
    <div>
      <label for="pregunta3">Nombre de la Veterinaria</label>
      <input type="text" id="pregunta5" />
    </div>
    <div>
      <label for="pregunta3">Direccion</label>
      <input type="text" id="pregunta6" />
    </div>
    <div>
      <label for="pregunta3">Telefono</label>
      <input type="text" id="pregunta7" />
    </div>
  
  </form>
  
  <form class="Formulario3">
    <div>
      <label for="pregunta3">Horarios</label>
      <input type="text" class="pregunta8" />
    </div>
    <div>
      <label for="pregunta3">Servicios</label>
      <input type="text" class="pregunta9" />
    </div>
  </form>
    
    </div>
    
    <img class="Fondo" src="Fondo.jpg">
    
    <router-outlet></router-outlet>